body{
	background-color:rgb(208, 248, 245);
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

#main{
	float:left;
	width:70%;
	padding:0 30px;
	box-sizing: border-box;
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
  }

h2 {
    color: rgb(0, 0, 0);
  }

h3 {
    color: rgb(0, 0, 0);
  }
  
p {
    font-family: verdana;
    font-size: 20px;
		text-align: center;
		color: black;
	  
  }

div.box {
	background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}  
  
input[type=text] {
    padding: 10px
  }

input[type=button] {
    background-color: rgb(170, 112, 125);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
#sidebar{
	float:right;
	width:30%;
	background: #333;
	color:#fff;
	padding:10px;
	box-sizing: border-box;
}

#main-footer{
	background: #333;
	color:#fff;
	text-align: center;
	padding:20px;
	margin-top:40px;
}

div.scrollmenu {
	background-color: #333;
	overflow: auto;
	white-space: nowrap;
	color: black;
  }
  
  div.scrollmenu a:hover {
	background-color: #777;
	overflow: auto;
	white-space: nowrap;
	color: black;
  }
/*button voor smart connections */

  .btn-group button {
	background-color:beige; /* beige background */
	border: 1px solid White; /* white border */
	color: black; /* zwarte text */
	padding: 10px 24px; /* Some padding */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
	content: "";
	clear: both;
	display: table;
  }
  
  .btn-group button:not(:last-child) {
	border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
	background-color: #add8e6;
  }